#  Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operator
- Lists 
- Comparisons Operators
- Dictionaies
- Tuples
- Sets

## Booleans Variables 

Boolean values are the two constant objects False and True.

They are used to Represent truth values ( other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integer 0 and 1 respectively. 

The built-in function bool() can be used to cast any value to a boolean, if the value can be interpreted as a truth value

They are written as True or False , respectively.

In [1]:
False

False

In [2]:
print(True, False)

True False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

In [5]:
my_str="Mayur123"

In [6]:
my_str.istitle()

True

In [7]:
print(my_str.isalnum()) # check if all char are number
print(my_str.isalpha()) # check if all char in the string are alphabetic
print(my_str.isdigit()) # test if string contains digits
print(my_str.istitle()) # test if string contains title words
print(my_str.isupper()) # test if string contains upper case 
print(my_str.islower()) # test if string contians lower case 
print(my_str.isspace()) # test if string contains spaces
print(my_str.endswith('m')) # test if string endswith m
print(my_str.startswith('M')) # test if string startswith M

True
False
False
True
False
False
False
False
True

## Boolean and Logical Operator

In [8]:
True and True

True

In [9]:
True and False

False

In [10]:
True or False

True

In [11]:
True or True

True

In [12]:
str_example = " Hello World "
my_str = "Mayur"

In [14]:
my_str.isalpha() or str_example.isnum()

True

## List 

A list is a data structure in python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, list are defined by having values between square brackets []

In [15]:
type([ ])

list

In [16]:
list_example = []

In [17]:
type(list_example)

list

In [18]:
list = list()

In [19]:
type(list)

list

In [20]:
list = ['Mathematics', 'Chemistry', 100, 200, 300, 204]

In [21]:
len(list)

6

In [22]:
type(list)

list

## Append

In [23]:
# append is used to add elements in the list 
list.append("Mayur")

In [24]:
list.append(["Amit", "Kartik"])

In [25]:
list

['Mathematics', 'Chemistry', 100, 200, 300, 204, 'Mayur', ['Amit', 'Kartik']]

In [26]:
## Indexing in list 
list[6]

'Mayur'

In [27]:
list[1:6]

['Chemistry', 100, 200, 300, 204]

## Insert

In [28]:
## Insert in a specfic order

list.insert(2, "Pooja")

In [29]:
list

['Mathematics',
 'Chemistry',
 'Pooja',
 100,
 200,
 300,
 204,
 'Mayur',
 ['Amit', 'Kartik']]

In [30]:
list.append(["Hello", "World"])

In [31]:
list

['Mathematics',
 'Chemistry',
 'Pooja',
 100,
 200,
 300,
 204,
 'Mayur',
 ['Amit', 'Kartik'],
 ['Hello', 'World']]

In [32]:
list = [1,2,3]

In [33]:
list.append([4,5])

In [34]:
list

[1, 2, 3, [4, 5]]

## Extend Method

In [35]:
list = [1,2,3,4,5,6]

In [36]:
list.extend([8,9])

In [37]:
list

[1, 2, 3, 4, 5, 6, 8, 9]

## Various Operations that we can perform in list

In [38]:
list = [1,2,3,4,5]

In [39]:
sum(list)

15

In [40]:
list*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## Pop() Method

In [41]:
list.pop()

5

In [42]:
list

[1, 2, 3, 4]

In [43]:
list.pop(0)

1

In [45]:
list

[2, 3, 4]

## Count() : Calculates total occurance of given elements of list

In [46]:
list = [1,1,2,3,4,5]

In [47]:
list.count(1)

2

In [48]:
# length  : Calculates total length of list
len(list)

6

In [49]:
# index() : Returns the index of first occurance. Start and End index are not necessary parameters
list.index(1,1,4)

1

In [50]:
## Min and Max
min(list)

1

In [51]:
max(list)

5

## Sets 

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as hash table.

In [52]:
## Defining an empty set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [53]:
set_var = { 1,2,3,4,3}

In [54]:
set_var

{1, 2, 3, 4}

In [70]:
set_var = {"Avengers", "Ironman", "Hitman"}
print(set_var)
print(type(set_var))

{'Hitman', 'Avengers', 'Ironman'}
<class 'set'>

In [71]:
## Inbuilt functions in Set

set_var.add("Hulk")

In [72]:
print(set_var)

{'Hitman', 'Hulk', 'Avengers', 'Ironman'}

In [73]:
set_1 = {"Avengers", "Ironman", "Hitman"}
set_2 = {"Avengers", "Ironman", "Hitman", "Hulk2"}

In [74]:
set_2.intersection_update(set_1)

In [75]:
set_2

{'Avengers', 'Hitman', 'Ironman'}

In [76]:
set_1 = {"Avengers", "Ironman", "Hitman"}
set_2 = {"Avengers", "Ironman", "Hitman", "Hulk2"}

In [77]:
## Difference
set_2.difference(set_1)

{'Hulk2'}

In [78]:
set_2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [79]:
## Difference Update

set_2.difference_update(set_1)

In [80]:
set_2

{'Hulk2'}

## Dictionaries

A Dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brakets, and they have keys and values

In [81]:
dic = {}

In [82]:
type(dic)

dict

In [83]:
type(dict())

dict

In [84]:
set_ex = {1,2,3,4,5}

In [85]:
type(set_ex)

set

In [86]:
## Let create a dictionary

my_dict = {"Car1":"Audi", "Car2": "BMW", "Car3":"Mercidies Benz"}

In [87]:
type(my_dict)

dict

In [88]:
## Access the item values based on keys

my_dict['Car1']

'Audi'

In [89]:
# We can loop throughout the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [90]:
# We can even loop throughtout the dictionaries values 

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [91]:
# We can also check both kyes and values 

for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [92]:
## Adding Items in Dictionaries

my_dict['Car4'] = "Audi 2.0"

In [93]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

## Nested Dictionary

In [94]:
car1_model={'Mercedes': 1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type = {'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

In [95]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [96]:
## Accessing the items in the dictionary 

print(car_type['car1'])

{'Mercedes': 1960}

In [97]:
print(car_type['car1']['Mercedes'])

1960

## Tuple

In [99]:
## Create an empty Tuples

my_tuples = tuple()

In [100]:
type(my_tuples)

tuple

In [101]:
my_tuple = ()

In [102]:
type(my_tuple)

tuple

In [103]:
my_tuple = ("Amit", "Ankur", "John")

In [104]:
my_tuple=("Hello", "World")

In [105]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [106]:
type(my_tuple)

tuple

In [108]:
## Inbuilt Function
my_tuple.count("World")

1

In [109]:
my_tuple.index('Hello')

0