## Chi-Square Test

The test is applied when you have two categorial variables from  a single population. It is used to determine wheather there is a significant association between the two variables.

In [1]:
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
dataset = sns.load_dataset('tips')

In [3]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
dataset_table = pd.crosstab(dataset['sex'], dataset['smoker'])

In [5]:
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [6]:
dataset_table.values

array([[60, 97],
       [33, 54]], dtype=int64)

In [7]:
# Observed Values
Observed_Values = dataset_table.values

In [8]:
print("Observed Values :- \n", Observed_Values)

Observed Values :-
 [[60 97]
 [33 54]]

In [9]:
val = stats.chi2_contingency(dataset_table)

In [10]:
print(val)

(0.0, 1.0, 1, array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [11]:
# Expected Values 
Expected_Values = val[3]

In [12]:
no_of_rows = len(dataset_table.iloc[0:2,0])
no_of_columns = len(dataset_table.iloc[0,0:2])
ddof = (no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom :- ", ddof)
alpha = 0.05

Degree of Freedom :-  1

In [13]:
from scipy.stats import chi2
chi_square = sum([(o-e)**2./e for o,e in zip(Observed_Values, Expected_Values)])
chi_square_statistic = chi_square[0]+chi_square[1]

In [14]:
print("Chi - Square statistic :- ", chi_square_statistic)

Chi - Square statistic :-  0.001934818536627623

In [15]:
critical_value = chi2.ppf(q=1-alpha, df=ddof)
print('Critical Value: ', critical_value)

Critical Value:  3.841458820694124

In [16]:
# P-Value
p_value = 1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value : ', p_value)
print('Signficance Level : ', alpha)
print('Degree of Freedom : ', ddof)

p-value :  0.964915107315732
Signficance Level :  0.05
Degree of Freedom :  1

In [18]:
if chi_square_statistic>=critical_value:
    print("Reject H0, There is a relationship between 2 categorial variables")
else:
    print("Retain H0, There is no relationship between 2 categorial variables")

Retain H0, There is no relationship between 2 categorial variables

In [19]:
if p_value<=alpha:
    print("Reject H0, There is a relationship between 2 categorial variables")
else:
    print("Retain H0, There is no relationship between 2 categorial variables")

Retain H0, There is no relationship between 2 categorial variables